{%extends 'base.html'%}
{%block body_block%}
<div class="container-fluid">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8" style="min-height: 100vh;">
			<div>
				<div class="d-flex justify-content-center">
					<div>
						
							<img
							src="{{other_user.profile_pic.url}}"
							class="rounded-circle  d-inline"
							alt="avatar"
							style="width: 100px; height: 100px; object-fit: cover"
							/>
						
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<div>
						<h3>{{other_user}}</h3>
					</div>
					
				</div>
        
				{%if request.user.user_profile%}
					{%if other_user.user_profile%}
						<div class="d-flex justify-content-center">
							{%if other_user not in request.user.user_profile.get_followings%}
								<form action="{%url 'social-follow' other_user.id%}" method="post">
									{%csrf_token%}
									<input type="submit" value="Follow" class="btn btn-primary btn-sm">
								</form>
							{%else%}
								<form action="{%url 'social-unfollow' other_user.id%}" method="post">
									{%csrf_token%}
									<input type="submit" value="Unfollow" class="btn btn-primary btn-sm">
								</form>
							{%endif%}
						</div>
					{%endif%}
				{%endif%}
        

				<div class="d-flex justify-content-center">
					{%if other_user.my_post.all%}
						<div>
							<a href="" class="btn me-4">{{other_user.my_post.count}} Posts</a>
						</div>
					{%else%}
						<div>
							<a href="" class="btn me-4">0 Posts</a>
						</div>
					{%endif%}
					<div>
						{%if other_user.user_profile%}
							<a href="" class="btn me-4">{{other_user.user_profile.get_followers.count}} Followers</a>
						{%else%}
							<a href="" class="btn me-4">0 Followers</a>
						{%endif%}
					</div>
					<div>
						{%if other_user.user_profile%}
							<a href="" class="btn">{{other_user.user_profile.get_followings.count}} Following</a>
						{%else%}
							<a href="" class="btn me-4">0 Following</a>
						{%endif%}
					</div>
				</div>
				<div class="d-flex justify-content-center">
					{%if other_user.user_profile.bio%}
					<div class="border">
						{{other_user.user_profile.bio}}
					</div>
					{%endif%}
				</div>
				<hr>
				{%if otherposts%}
				{%for post in otherposts%}
				<div class="d-flex justify-content-center">
					<div class="bg-white p-4 rounded shadow mt-3 mb-3">
						<!-- author -->
						<div class="d-flex justify-content-between">
								<!-- avatar -->
								<div class="d-flex">
										<img
												src="{{post.user.profile_pic.url}}"
												alt="avatar"
												class="rounded-circle me-2"
												style="width: 38px; height: 38px; object-fit: cover"
										/>
										<div>
												<p class="m-0 fw-bold">{{post.user}}</p>
												<span class="text-muted fs-7">{{post.posted_date}}</span>
										</div>
								</div>
								<!-- edit -->
								<i
								class="fas fa-ellipsis-h"
								type="button"
								id="post1Menu"
								data-bs-toggle="dropdown"
								aria-expanded="false"
								>
								</i>
								<!-- edit menu -->
								<ul
								class="dropdown-menu border-0 shadow"
								aria-labelledby="post1Menu"
								>
										<li class="d-flex align-items-center">
												<a
														class="dropdown-item d-flex justify-content-around align-items-center fs-7"
														href="#"
												>
														Edit Post
												</a>
										</li>
										<li class="d-flex align-items-center">
												<a
												class="dropdown-item d-flex justify-content-around align-items-center fs-7"
												href="#"
												>
												Delete Post</a
												>
										</li>
								</ul>
						</div>



						<!-- post content -->
						<div class="mt-3">
								<!-- content -->
								<div>
										<p>
												{{post.title}}
										</p>
										<p>
												{{post.description}}
										</p>
										<img
												src="{{post.post_image.url}}"
												alt="post image"
												class="img-fluid rounded"
										/>
								</div>
								<!-- likes & comments -->
								<div class="mt-3 d-flex justify-content-between">
										<div><i class="text-primary fas fa-thumbs-up"></i> 10</div>
										<div>2 Comments</i></div>
								</div>
								<hr>
								<!-- comment&like buttons -->
								<div class="d-flex justify-content-between">
										<div>
												<a href="" class="btn text-muted" style="border: none;">
														<i class="fas fa-thumbs-up me-3"></i>
														<span class="m-0">Like</span>
												</a>
										
										</div>
										<div>
												<a class="btn text-muted" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
														<i class="fas fa-comment-alt me-3"></i>
														<span class="m-0">Comment</span>
												</a>
										</div>
								</div>
								<!-- comment collapse -->
								<div class="collapse mt-3" id="collapseExample">
										<div class="card card-body">
												<!-- comment 1 -->
												<div class="d-flex align-items-center my-1">
														<!-- avatar -->
														<img
														src="https://source.unsplash.com/collection/happy-people"
														alt="avatar"
														class="rounded-circle me-2"
														style="
																width: 38px;
																height: 38px;
																object-fit: cover;
														"
														/>
														<!-- comment text -->
														<div class="p-3 rounded comment__input w-100">
																<!-- comment menu of author -->
																<div class="d-flex justify-content-end">
																		<!-- icon -->
																		<i
																		class="fas fa-ellipsis-h text-blue pointer"
																		id="post1CommentMenuButton"
																		data-bs-toggle="dropdown"
																		aria-expanded="false"
																		></i>
																		<!-- menu -->
																		<ul
																		class="dropdown-menu border-0 shadow"
																		aria-labelledby="post1CommentMenuButton"
																		>
																				<li class="d-flex align-items-center">
																						<a
																						class="dropdown-item d-flex justify-content-around align-items-center fs-7"
																						href="#"
																						>
																						Edit Comment</a
																						>
																				</li>
																				<li class="d-flex align-items-center">
																						<a
																						class="dropdown-item d-flex justify-content-around align-items-center fs-7"
																						href="#"
																						>
																						Delete Comment</a
																						>
																				</li>
																		</ul>
																</div>
																<p class="fw-bold m-0">John</p>
																<p class="m-0 fs-7 bg-gray p-2 rounded">
																		Lorem ipsum dolor sit amet, consectetur
																		adipiscing elit.
																</p>
														</div>
												</div>
												<form class="d-flex my-1">
														<!-- avatar -->
														<div>
																<img
																		src="{{request.user.profile_pic.url}}"
																		class="rounded-circle me-2"
																		style="
																		width: 38px;
																		height: 38px;
																		object-fit: cover;
																		"
																/>
														</div>
														<!-- input -->
														<input
														type="text"
														class="form-control border-0 rounded-pill bg-gray"
														placeholder="Write a comment"
														/>
												</form>
										</div>
								</div>
						</div>
				</div>
				</div>
				{%endfor%}
				{%else%}
					<p>No Posts Yet</p>
				{%endif%}
				<!-- <a href="" class="btn btn-primary">Edit Profile</a> -->
				
			</div>

		</div>
		<div class="col-2"></div>
	</div>
</div>
{%endblock%}